$primary:                     #17A2B8;
$secondary:                   #777777;
$success:                     #3ADB76;
$warning:                     #FFAE00;
$alert:                       #EC5840;
$light-gray:                  #E6E6E6;
$medium-gray:                 #CACACA;
$dark-gray:                   #8A8A8A;
$black:                       #0A0A0A;
$white:                       #FEFEFE;
$dark-blue:                   #0492A5;