@()(implicit header: RequestHeader, messages: Messages, wja: WebJarAssets)

@template.page("Dashboard - Provest")() {
  <div>
    <header></header>

    <main>
      <div id="content"></div>
    </main>

    <footer>
      <footer></footer>
    </footer>
  </div>
} {
  <script src="@routes.Assets.at("comps/dashboard.js")"></script>
  <script src="@routes.Assets.at("comps/dashboard/about-us.js")"></script>
  <script src="@routes.Assets.at("comps/dashboard/projects.js")"></script>
  <script src="@routes.Assets.at("comps/dashboard/contact.js")"></script>
  <script src="@routes.Assets.at("comps/dashboard/header-nav.js")"></script>
  <script src="@routes.Assets.at("comps/dashboard/side-nav.js")"></script>
  <script src="@routes.Assets.at("comps/dashboard/footer-nav.js")"></script>
}
