@(
    logoutUrl: Call
  )(
    implicit header: RequestHeader,
    flash: Flash,
    messages: Messages,
    pm: PageMeta,
    wja: WebJarAssets
  )

@helper.base {
  <link href="@routes.Assets.at("styles/main.css")" rel="stylesheet">
} {
  <div id="content"></div>
  @helper.form(action = routes.UserAuth0Controller.locationVacinity, 'enctype -> "multipart/form-data" ) {
    <p>13a3d206-b5f3-420f-8b8d-b3ff56860691</p>
    <input type="file" name="fileUpload">
    <input type="text" name="project_id" placeholder="project id">
    <input type="text" name="sub_project_id" placeholder="classification">
    <input type="text" name="description" placeholder="description">
    <p><input type="submit" value="Upload"></p>
  }

  <a href="#" onclick="logout('@logoutUrl')">logout</a>
} {
  <script src="@routes.Assets.at("comps/main/main-page.js")"></script>
}

<script>
  function logout(data) {
    location.href=data;
  }
</script>
